<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Example</title>
    <style type="text/css">
      body { text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, san-serif; }
      .container {
        width: 30em; margin: 0 auto; padding: 1em 2em;
        text-align: left; font-size: 1.6em; }
      h1 { font-size: 2.5em; }
      input[type="submit"] { font-size: 1em; }
      input[type="email"] { font-size: 1.2em; }
    </style>
  </head>

  <body>
    <div class="container">

      <%= yield %>

    </div>
  </body>

</html>


